<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">


<ion-button (click)="view()">view</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card color="light" >
          <img src="../../../assets/smartphones.jpeg">
          <ion-card-header>
            <ion-card-title>Smart Phones</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/laptops.jpeg">
          <ion-card-header>
            <ion-card-title>Laptops</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/fragrances.jpeg">
          <ion-card-header>
            <ion-card-title>Fragrances</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/skincare.jpeg">
          <ion-card-header>
            <ion-card-title>Skincare</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/groceries.jpeg">
          <ion-card-header>
            <ion-card-title>Groceries</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/home-decoration.jpeg">
          <ion-card-header>
            <ion-card-title>Home Decoration</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/furniture.jpeg">
          <ion-card-header>
            <ion-card-title>furniture</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/tops.jpeg">
          <ion-card-header>
            <ion-card-title>Tops</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/lighting.jpeg">
          <ion-card-header>
            <ion-card-title>Lighting</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/womens-dresses.jpeg">
          <ion-card-header>
            <ion-card-title>Womens Dresses</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/womens-shoes.png">
          <ion-card-header>
            <ion-card-title>Womens Shoes</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/mens-shirts.jpeg">
          <ion-card-header>
            <ion-card-title>Mens Shirts</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/mens-shoes.jpeg">
          <ion-card-header>
            <ion-card-title>Mens Shoes</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/mens-watches.jpeg">
          <ion-card-header>
            <ion-card-title>Mens Watches</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/womens-watches.jpeg">
          <ion-card-header>
            <ion-card-title>Womens Watches</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/womens-bags.jpeg">
          <ion-card-header>
            <ion-card-title>Womens Bags</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/womens-jewellery.jpeg">
          <ion-card-header>
            <ion-card-title>Womens Jewellery</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/sunglasses.jpeg">
          <ion-card-header>
            <ion-card-title>Sunglasses</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/automotive.jpeg">
          <ion-card-header>
            <ion-card-title>Automotive</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="light">
          <img src="../../../assets/motorcycle.jpeg">
          <ion-card-header>
            <ion-card-title>Motorcycle</ion-card-title>
          </ion-card-header>        
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
