
<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home" ></ion-icon>
      Home
    </ion-tab-button>

    <ion-tab-button tab="about">
        <ion-icon name="information-circle" ></ion-icon>
        About
    </ion-tab-button>

      <ion-tab-button tab="contact">
        <ion-icon name="call" ></ion-icon>
        Contact
    </ion-tab-button>

      <ion-tab-button tab="cart">
        <ion-icon name="cart" ></ion-icon>
        Search
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>